@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Varela+Round&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Varela Round', sans-serif;
    background-color: #e2e6e7;

    margin-top: 80px;

    display: flex;
    justify-content: space-evenly;
    padding: auto;
}

.container {
    padding: 10px;
    width: 300px;
    height: fit-content;

    box-shadow: 10px 10px 15px rgb(192, 183, 183), -10px -10px 15px white;
    border-radius: 5px;
}

h1 {
    width: 70%;
    color: #777;
    font-size: 32px;
    margin: 28px auto;
    margin-bottom: 20px;
    text-align: center;
}

form {
    text-align: center;
}

input {
    padding: 12px 0;
    margin-bottom: 10px;
    border-radius: 3px;
    border: 2px solid transparent;
    text-align: center;
    width: 90%;
    font-size: 16px;
    transition: border 1s, background-color 1s;
}

form .field {
    background-color: #cbcccd;
}

form .field:focus {
    border: 2px solid #3498DB;
}

form .btn {
    background-color: #3498DB;
    color: #fff;
    line-height: 25px;
    cursor: pointer;
}

form .btn:hover,
form .btn:active {
    background-color: #1F78B4;
    border: 2px solid #1F78B4;
}

.pass-link {
    text-align: center;
}

.pass-link a:link,
.pass-link a:visited {
    font-size: 12px;
    color: #777;
}


/* Styling for the validation box starts here */
#message {
    display: flex;
    flex-direction: column;

    box-shadow: 10px 10px 15px rgb(192, 183, 183), -10px -10px 15px white;
    border: 2px solid transparent;
    border-radius: 5px;
    text-align: center;

    width: 300px;
    padding: 10px;
}

.message-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.valid {
    color: green;
}

.valid::after {
    content: " ✔";
}

.invalid {
    color: red;

}

.invalid::after {
    content: " ✖";
}

#match-password-message {
    font-weight: 700;
}