.card-img {
    display: block;
    width: 2px;
    height: 454px;
    align-self: center;
    object-fit: cover;
}

.product-container {
    margin: 10px;
}

.col-sm-3 {
    margin-bottom: 10px;

}